table {
  width: 50%;
  margin: auto;
}

button {
  width: 100%;
  height: 20px;
}

#title {
  border: 2px dashed purple;
  text-align: center;
}

#display-div {
  border: 5px solid gray;
  background-color: lightgray;
  font-family: monospace;
  width: 50%;
  height: 16px;
  margin: auto;
}

#display-div p{
  margin: 0;
  position: absolute;
  display: block;
  float: left;
  width: 49%;
}

#display{
  z-index: 2
}

#index-display{
  z-index: 1;
  border: 1px solid black;
}

#extra-spaces{
  color: lightgray;
}
